*{
box-sizing:border-box;
}

body{
height:100vh;
margin:0;
display:flex;
justify-content:center;
align-items:center;
background:#202020;
font-family:"Inter","Vazirmatn",sans-serif;
}

.calculator{
width:350px;
padding:25px;
border-radius:25px;
background:rgba(255,255,255,0.12);
backdrop-filter:blur(20px);
box-shadow:0 20px 50px #0005;
}

h2{
color:white;
text-align:center;
}

input{
width:100%;
height:70px;
font-size:35px;
border:none;
border-radius:15px;
padding:10px;
text-align:right;
background:#ffffff20;
color:white;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
margin-top:20px;
}

button{
height:60px;
border:none;
border-radius:15px;
font-size:22px;
cursor:pointer;
background:#ffffff20;
color:white;
transition:.2s;
}

button:hover{
background:#ffffff40;
}

.zero{
grid-column:span 2;
}